In [ ]:
import pandas as pd

In [ ]:
bt=pd.read_csv("boston.csv")

In [ ]:
bt.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,HOUSEPRICE
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
x=bt.iloc[:,0:-1]
y=bt.HOUSEPRICE

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10)

from sklearn.preprocessing import StandardScaler

stdSc=StandardScaler()

stdSc.fit(x_train)

x_train_std=stdSc.transform(x_train)
x_test_std=stdSc.transform(x_test)

from sklearn.linear_model import LinearRegression

linearModel=LinearRegression()
linearModel.fit(x_train_std,y_train)
print("Train Score (Linear):",linearModel.score(x_train_std,y_train))
print("Test Score (Linear):",linearModel.score(x_test_std,y_test))

Train Score (Linear): 0.7564928215443915
Test Score (Linear): 0.6642831400812117

In [ ]:
print("Slopes: ",linearModel.coef_)
print("Constant: ",linearModel.intercept_)

Slopes:  [-1.18059014  1.38558866 -0.06221661 -1.78934538  2.35571264  0.35977032
 -3.12700658  2.68296832 -2.18646957 -1.84423952  1.22452607 -3.86084703]
Constant:  21.93377308707124

In [ ]:
#ridge regression
from sklearn.linear_model import Ridge

ridgeModel=Ridge(alpha=0.9)
ridgeModel.fit(x_train_std,y_train)
print("Train Score (Ridge):",ridgeModel.score(x_train_std,y_train))
print("Test Score (Ridge):",ridgeModel.score(x_test_std,y_test))

Train Score (Ridge): 0.7564733187412493
Test Score (Ridge): 0.6640322485033605

In [ ]:
#Lasso regression
from sklearn.linear_model import Lasso

lassoModel=Lasso(alpha=.9)
lassoModel.fit(x_train_std,y_train)
print("Train Score (Lasso):",lassoModel.score(x_train_std,y_train))
print("Test Score (Lasso):",lassoModel.score(x_test_std,y_test))

Train Score (Lasso): 0.6834512336189283
Test Score (Lasso): 0.6147833391779409

In [ ]:
#ElasticNet regression
from sklearn.linear_model import ElasticNet

eModel=ElasticNet(alpha=.6)
eModel.fit(x_train_std,y_train)
print("Train Score (ElasticNet):",eModel.score(x_train_std,y_train))
print("Test Score (ElasticNet):",eModel.score(x_test_std,y_test))

Train Score (ElasticNet): 0.6944559399097265
Test Score (ElasticNet): 0.6006213658686839

In [ ]:
print("############### Slope Value ########### ")
print("##### Linear #######")
print(linearModel.coef_)

print("##### Ridge #######")
print(ridgeModel.coef_)

print("##### Lasso #######")
print(lassoModel.coef_)

print("##### ElasticNet #######")
print(eModel.coef_)

############### Slope Value ###########
##### Linear #######
[-1.18059014  1.38558866 -0.06221661 -1.78934538  2.35571264  0.35977032
 -3.12700658  2.68296832 -2.18646957 -1.84423952  1.22452607 -3.86084703]
##### Ridge #######
[-1.16988318  1.36652515 -0.08186193 -1.75757263  2.36973023  0.34836377
 -3.09303457  2.597799   -2.10926656 -1.83588201  1.22356403 -3.84255057]
##### Lasso #######
[-0.12829093  0.         -0.         -0.          2.51728465 -0.
 -0.         -0.         -0.         -1.26234282  0.61945861 -3.47013904]
##### ElasticNet #######
[-0.54211194  0.38230291 -0.26674641 -0.27309988  2.45137058 -0.
 -0.47350055 -0.         -0.3392024  -1.30148041  0.82135819 -2.63289013]

In [ ]:
x_train.columns

Index(['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [ ]:
#Lasso regression
from sklearn.linear_model import Lasso

lassoModel1=Lasso(alpha=.9)
lassoModel1.fit(x_train_std,y_train)
print("Train Score (Lasso):",lassoModel1.score(x_train_std,y_train))
print("Test Score (Lasso):",lassoModel1.score(x_test_std,y_test))
print("Slopes:",lassoModel1.coef_)

Train Score (Lasso): 0.6834512336189283
Test Score (Lasso): 0.6147833391779409
Slopes: [-0.12829093  0.         -0.         -0.          2.51728465 -0.
 -0.         -0.         -0.         -1.26234282  0.61945861 -3.47013904]

In [ ]:
#Lasso regression
from sklearn.linear_model import Lasso

lassoModel2=Lasso(alpha=.3)
lassoModel2.fit(x_train_std,y_train)
print("Train Score (Lasso):",lassoModel2.score(x_train_std,y_train))
print("Test Score (Lasso):",lassoModel2.score(x_test_std,y_test))
print("Slopes:",lassoModel2.coef_)

Train Score (Lasso): 0.7253732750417403
Test Score (Lasso): 0.6410946505928552
Slopes: [-0.53027842  0.39106075 -0.         -0.3597845   2.79246932 -0.
 -1.073687    0.         -0.03648372 -1.53187487  1.04521298 -3.65538601]

In [ ]:
#building amodel with only two features, later we will transform into polynomial features of dgree 2

x_input=x[['CRIM','ZN']]

In [ ]:
y_output=y

In [ ]:
x_train_i,x_test_i,y_train_o,y_test_o=train_test_split(x_input,y_output,random_state=10)

from sklearn.preprocessing import StandardScaler

stdSc=StandardScaler()

stdSc.fit(x_train_i)

x_train_i_std=stdSc.transform(x_train_i)
x_test_i_std=stdSc.transform(x_test_i)

from sklearn.linear_model import LinearRegression

linearModel=LinearRegression()
linearModel.fit(x_train_i_std,y_train_o)
print("Train Score (Linear):",linearModel.score(x_train_i_std,y_train_o))
print("Test Score (Linear):",linearModel.score(x_test_i_std,y_test_o))

Train Score (Linear): 0.28031526349162506
Test Score (Linear): 0.07078237668853993

In [ ]:
#polynomial features
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
x_poly=PolynomialFeatures(degree=2).fit_transform(x_input)

In [ ]:
x_input.head()

      CRIM    ZN
0  0.00632  18.0
1  0.02731   0.0
2  0.02729   0.0
3  0.03237   0.0
4  0.06905   0.0

In [ ]:
pd.DataFrame(x_poly)

       0        1     2         3        4      5
0    1.0  0.00632  18.0  0.000040  0.11376  324.0
1    1.0  0.02731   0.0  0.000746  0.00000    0.0
2    1.0  0.02729   0.0  0.000745  0.00000    0.0
3    1.0  0.03237   0.0  0.001048  0.00000    0.0
4    1.0  0.06905   0.0  0.004768  0.00000    0.0
..   ...      ...   ...       ...      ...    ...
501  1.0  0.06263   0.0  0.003923  0.00000    0.0
502  1.0  0.04527   0.0  0.002049  0.00000    0.0
503  1.0  0.06076   0.0  0.003692  0.00000    0.0
504  1.0  0.10959   0.0  0.012010  0.00000    0.0
505  1.0  0.04741   0.0  0.002248  0.00000    0.0

[506 rows x 6 columns]

In [ ]:
x_train_i,x_test_i,y_train_o,y_test_o=train_test_split(x_poly,y_output,random_state=10)

from sklearn.preprocessing import StandardScaler

stdSc=StandardScaler()

stdSc.fit(x_train_i)

x_train_i_std=stdSc.transform(x_train_i)
x_test_i_std=stdSc.transform(x_test_i)

from sklearn.linear_model import LinearRegression

linearModel=LinearRegression()
linearModel.fit(x_train_i_std,y_train_o)
print("Train Score (Linear):",linearModel.score(x_train_i_std,y_train_o))
print("Test Score (Linear):",linearModel.score(x_test_i_std,y_test_o))

Train Score (Linear): 0.3463220014762507
Test Score (Linear): 0.1413640386933226

In [ ]:
x_input

        CRIM    ZN
0    0.00632  18.0
1    0.02731   0.0
2    0.02729   0.0
3    0.03237   0.0
4    0.06905   0.0
..       ...   ...
501  0.06263   0.0
502  0.04527   0.0
503  0.06076   0.0
504  0.10959   0.0
505  0.04741   0.0

[506 rows x 2 columns]